<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bootleggers.shishufied.theme.unmonet.settings"
    android:versionCode="1"
    android:versionName="1.0">
    <overlay android:targetPackage="com.android.settings" android:category="android.theme.customization.style.settings" android:priority="1"/>

    <application android:label="Unmonet" android:hasCode="false" />
</manifest>
