<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.systemui.nf_style.cyberponkv2"
    android:versionCode="1"
    android:versionName="1.0">
    <overlay android:targetPackage="com.android.systemui" android:category="android.theme.customization.nf_style" android:priority="1"/>

    <application android:label="Cyberponk v2" android:hasCode="false" android:allowBackup="false"/>
 </manifest>
