<?xml version="1.0" encoding="utf-8"?>
<!--
/*
** Copyright (C) 2022 The AtomX Project
**
** SPDX-License-Identifier: Apache-2.0
*/
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.theme.font.opposans"
    android:versionCode="1"
    android:versionName="1.0">

    <overlay
        android:targetPackage="android"
        android:category="android.theme.customization.font"
        android:priority="1"/>

    <application android:label="@string/font_opposans_overlay" android:hasCode="false">
        <meta-data
            android:name="android.theme.customization.REQUIRED_SYSTEM_FONTS"
            android:value="opposans,opposans-medium"/>
    </application>
</manifest>
